* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-form {
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: auto;
    background-color: #ceb0b0;
    border: 5px solid rgb(224, 137, 137);
    padding: 20px;
  }
    
  
  .text-field {
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    color: #396fda;
    border: none;
    padding:10px;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    width:100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: none;
    color: #1aad90;
    border: none;
    border: 2px solid rgb(0, 255, 149);
  }
  
  .links {
    color: #D6D6D6;
    text-align: center;
  }
  
  .links a {
    font-size: 12px;
    color: #ec5a06;
  }

  .ukp {
    padding-left: 90px; 
  }
  .menu {
    width: 100%;
    height: 60px;
  }